*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color: gray;
    padding: 16px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    color: white;

}
header nav ul a {
    color: white;
    transition: 1.2s;
}
header nav ul a:hover{
    border-bottom: 6px solid aqua;
}

.grupo{
    height: 100vh;
}
#vermelho{
    background-color: tomato;
}
#verde{
    background-color: rgb(71, 255, 163);
}
#azul{
    background-color: blue;
}
#amarelo{
    background-color: yellow;
}
#roxo{
    background-color: purple;
}
